body{
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.card{
    background-color: rgba(0, 191, 255, 0.425);
    border-radius: 10px;
    max-width: 700px;
    margin: 0 auto;
}
.profile-img{
    display: block;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 24px;
    color: black;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
h2{
    font-size: 15px;
    color: rgb(12, 12, 101);
    font-weight: normal;
    margin-top: 0%;
    margin-bottom: 15px;
    text-align: center;
}

.content{
    font-size: 15px;
    color: rgb(69, 64, 64);
    text-align: center;
    line-height: 1.5;
}
.more_info{
    font-size: 15px;
    color: rgb(69, 64, 64);
    text-align: center;
}
.more_info a{
    color: rgb(173, 104, 237);
}